diadoc-soap.apiClientId=<<apiClientId>>
diadoc-soap.apiUrl=https://diadoc-api.kontur.ru
diadoc-soap.login=<<login>>
diadoc-soap.password=<<password>>
diadoc-soap.certificateAlias=<<alias>>
diadoc-soap.keyPassword=<<password>>
diadoc-soap.organizationInn=<inn>
diadoc-soap.utdTypeNameId=UniversalTransferDocument
diadoc-soap.utdFunction=\u0421\u0427\u0424\u0414\u041e\u041f
diadoc-soap.utdVersion=utd820_05_01_02_hyphen
diadoc-soap.ucdTypeNameId=UniversalCorrectionDocument
diadoc-soap.ucdFunction=\u041a\u0421\u0427\u0424\u0414\u0418\u0421
diadoc-soap.ucdVersion=ucd736_05_01_02
diadoc-soap.signerFirstName=<<first name>>
diadoc-soap.signerMiddleName=<<middle name>>
diadoc-soap.signerLastName=<<last name>>
diadoc-soap.signerTitle=<<title>>